{% extends "basenav.html" %}
{% block title %}Pedidos Vigentes{% endblock %}
{% block content2 %}
<div class="contreg3 centrar">
    <h1 class="Pedidos2">Pedidos</h1>
    <h1 class="dersolo obstit">Observaciones</h1>
    {% if pedidos %}
        {% for pedido in pedidos %}
            <ul class="listaindice2"> 
                <div class="ped de2">
                    <div>
                        <h4> Pedido {{ pedido.NumPedido }} </h5>
                    </div>
                    <div class="tabpend">
                    {% for item in pedido.Item %}
                        <a href="{{ url_for('Listo', pedido=pedido.NumPedido, item=item.NumItem) }}" class="items3"> 
                            {{productos[item.NumProducto-1].Nombre}} 
                        </a>
                        <p class="items4 dersolo">{{item.Estado}}</p>
                    {%  endfor %}
                        
                    </div>
                </div>
            </ul>
            <div class="dersolo">
                <textarea readonly name="Obser" rows="7" cols="40" class="obs">{% if pedido.Observacion != "" %}{{pedido.Observacion}}{% else %}Sin Observaciones{% endif %}</textarea>
            </div>
        {% endfor %}
    {% else %}
        <h1 style="text-align: center; font-size: 30px;">No se han encontrado pedidos pendientes <span style="font-size: 30px;">
            </span></h1>
    {% endif %}
</div>
{% endblock %}
